[submodule "vendor/swiftmailer"]
	path = vendor/swiftmailer
	url = git://github.com/swiftmailer/swiftmailer.git
[submodule "vendor/tripit_php_v1"]
	path = vendor/tripit_php_v1
	url = https://github.com/tripit/php_binding_v1.git
