body { font-size: 10pt; font-family: 'Helvetica Neue', 'Helvetica', arial, sans-serif; background-image: url(../images/background-white.png); background-repeat:no-repeat; background-position:center 60px; line-height:1.5em; }
h1, h2, h3 { font-family: 'Maven Pro', Helvetica, arial, sans-serif; font-weight:bold; line-height: 1em;}
h1 a, h2 a, h3 a { text-decoration:none; }
h1 { font-family: 'Oswald', arial, sans-serif; font-size: 250%; margin-bottom: .5em; line-height: 1.5em; }
h1 a { color: #3198C0; letter-spacing: -0.01em; }
h1 sup { font-family: arial, sans-serif; }
h2 { font-size: 200%; margin-bottom: .5em; }
h3 { font-size: 150%; margin-bottom: 1em;}
hr { display: none; }
p { margin-bottom: 1em; }
b, strong { font-weight: bold; }
i, em { font-style:italic; }
sup { font-size:50%; vertical-align:top; }

/* Tables */
table { width:100%; border-collapse:collapse; margin-bottom: 1em; }
table td, table th{ font-size:1em; border:1px solid #3198C0; padding:3px 7px 2px 7px; }
table th{ font-size:1.1em; text-align:left; padding-top:5px; padding-bottom:4px; background-color:#3198C0; color:#ffffff; }
table tr.alt td, table tr:nth-child(odd) { color:#000000;background-color:#EAF2D3; }

/* Main Sections */
#header { margin-bottom: 1.5em; height: 75px; overflow:hidden; }
#header ul { display:block; height: 25px; float:right; margin-top: -50px; }
#header ul li { display: inline; padding: 0 10px; }
#body { margin-bottom: 1.5em; }
#footer { }
#footer p { text-align: center; font-style: italic; }

/* Itenerary Items */
div.itenerary-item { border-top: solid 1px #eee; padding-top: 1em; }
div.itenerary-item p { border-left: solid 4px #eee; padding-left: 10px; }

/* Sidebar Content */
div.profile-photo, div.traveler-photo { width: 80px; height: 80px; overflow:hidden; border: solid 1px #eee;}
div.traveler-list { margin-bottom: 2em; }
div.share-form { margin-bottom: 1em; }
input[type=text] { width:100%; height:25px; border:solid 1px #ddd; font-size:110%; }
form label { display:block; font-weight: bold; }
form label.error { color: #ff0000; }
textarea { width:100%; height: 125px; border:solid 1px #eee; font-size:110%; }

/* Icons */
h2.travel-icon { float:right; display:block; width: 100px; height: 100px; overflow:hidden; border-radius: 10px; background-image: url(../images/travel-icons.png); background-repeat: no-repeat; margin-top: 0.5em; background-color: #3198C0; }
h2.travel-icon span { display:block; padding-top: 100px; }
h2.travel-icon-air {  background-position: 0px 0px; }
h2.travel-icon-transport {  background-position: 0px -600px; }
h2.travel-icon-car {  background-position: 0px -200px; }
h2.travel-icon-lodging {  background-position: 0px -300px; }
h2.travel-icon-activity {  background-position: 0px -400px; }
h2.travel-icon-train { background-position: 0px -100px; }
h2.travel-icon-cruise { background-position: 0px -500px; }

/* Error/Success Space */
#error { padding:10px; margin-bottom:1em; border:4px solid red; }
#success { padding:10px; margin-bottom:1em; border:4px solid #3198C0; }
#error h3, #success h3 { margin-bottom: 0; }

/* Authentication Button */
.medium.button{font-size:16px;padding:10px 14px 12px 16px;}
a.button{box-shadow:2px 2px 5px rgba(0,0,0,0.2);color:white;display:inline-block;font-weight:bold;text-decoration:none;white-space:nowrap;}
.orange.button{background-color: #FF9009; }
.orange.button:hover{background:none repeat scroll 0 0 #FF9009;}